.hidden{
    display:none;
}
#bg-img{
    position:fixed;
    width:100%;
    height:100%;
    object-fit: cover;
}
body{
    overflow: hidden;
    align-items: center;
    justify-content: center;
    position:fixed;
    margin:0 0 0 0;
    width:100%;
    height:100%;
}

#wrapper{
    width:100%;
    height:100%;
    position:relative;
}

.input-form{
    width:210px;
    border-top:none;
    border-right: none;
    border-bottom: 3px solid #fff;
    border-left: none;
    background:none;
    color:black;
    text-align: center;
    font-size:15px;
}

#question-form{
    position:absolute;
    left:50%;
    width:max-content;
    transform: translate(-50%,-50%);
    bottom:200px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

#question-form > input{
    width:250px;
    font-size:20px;
}

#feeling-div{
    position:absolute;
    left:50%;
    width:max-content;
    transform: translate(-50%,-50%);
    bottom:100px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;

}

#change-feeling{
    cursor:pointer;
}

#todo-div{
    position:absolute;
    width:max-content;
    top:15px;
    left:15px;
}

#todo-div > form{
    margin-left:10px;
}
#todo-div > ul{
    margin-left:-8px;
    font-family: 'Open Sans', sans-serif;
}

.delete-button{
    border: none;
    background: none;
    cursor: pointer;
}


#weather{
    color:#fff;
    float:right;
    margin-top:10px;
    margin-right:20px;
    display: block;
    text-align: center;
}

#clock{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    margin-top:-50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 110px;
}

#login-form, #greeting{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 70px;
}

#login-form >input:first-child{
    position:relative;
    top:30px;
    font-size:23px;
}


#quote{
    position:absolute;
    left:50%;
    width:max-content;
    transform: translate(-50%,-50%);
    bottom:0;
    display:inline-block;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size:17px;
    color:#fff;
}

#quote > #author{
    font-size:16px;
    font-weight: 300;
}


